@font-face {
  font-family: "Sora";
  src: url("/fonts/sora/Sora-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sora";
  src: url("/fonts/sora/Sora-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sora";
  src: url("/fonts/sora/Sora-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
